body
  background-color: black

.screen-pane
  position: fixed
  top: 0
  left: 0
  bottom: 0
  width: 65%
  padding: 0
  background-color: black
  color: green
  overflow: hidden
  font-family: 'Unifont'
  
  .screen
    width: 100%
    height: calc(100% - 3em)
    padding: 10px
    background-color: black
    float: left
    overflow: scroll
      
  .command-line
    width: 100%
    height: 2em
    bottom: 0
    padding: 0 10px
    
    background-color: #222
    color: inherit
    border: none
    font-family: inherit
    font-size: inherit
  
  .input[type=submit]
    display: none
    
  canvas
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: calc(100% - 3em)
    padding: 10px

.source-pane
  position: fixed
  top: 0
  right: 0
  bottom: 0
  width: 35%
  padding: 0
  
  height: 100%
  
  .source
    width: 100%
    height: 100%
    padding: 1em
  