body
  background-color: black

.screen-pane
  position: fixed
  top: 0
  left: 0
  bottom: 0
  width: 65%
  padding: 0
  background-color: black
  color: green
  overflow: scroll
  
  .screen
    width: 100%
    height: 100%
    padding: 10px
    background-color: black
    float: left

    font-family: 'Unifont'

    pre
      font-family: 'Unifont' //'Perfect DOS VGA 437'

.source-pane
  position: fixed
  top: 0
  right: 0
  bottom: 0
  width: 35%
  padding: 0
  
  height: 100%
  
  .source
    width: 100%
    height: 100%
    padding: 1em
  